<h1>Calendar#index</h1>
<p>Find me in app/views/calendar/index.html.erb</p>

<div id='calendar' class="calendar"></div>

<div id='reveal-snap-toggle' class="reveal-snap-toggle"></div>
<div id='loading' class="loading">loading</div>
