# Place all the behaviors and hooks related to the matching controller here.
# All this logic will automatically be available in application.js.
# You can use CoffeeScript in this file: http://coffeescript.org/
debugging = true
filterViewLevel = 'oper'
filterHiddenChannels = []
filterHiddenDepartments = []
popover = null
popoverThatIsCurrentlyShowing = null
loadingPopover = false

DBGacceptableValues = ['exec', 'mgr', 'oper']

ready = ->
  console.log 'executing ready()'

  $('#add-calendar-tactic').on 'click', (e) ->
    # Tethering popover to fc-toolbar is less than ideal, button
    # at least popover is visible.
    presentPopover '/tactics/new', $('.fc-toolbar'), { }
    event.preventDefault()

  $('#add-calendar-step').on 'click', (e) ->
    presentPopover 'add step url', this, { }
    event.preventDefault()

  $('body').on 'click', (e) ->
    $('#calendar-menu-filter').each ->
        # //the 'is' for buttons that trigger popups
        # //the 'has' for icons within a button that triggers a popup
        if $('#popovercloseid').is(e.target)
            popoverThatIsCurrentlyShowing.popover 'hide'
            popoverThatIsCurrentlyShowing = null

        if $('#calendar-menu-filter').is(e.target)
          if popoverThatIsCurrentlyShowing == null
            $(this).popover 'show'
            popoverThatIsCurrentlyShowing = $(this)
          else
            $(this).popover 'hide'
            popoverThatIsCurrentlyShowing = null

        if (!$(this).is(e.target) &&
          $(this).has(e.target).length == 0 &&
          $('.popover').has(e.target).length == 0 &&
          e.target.className != 'select2-selection__choice__remove'
          )
            $(this).popover('hide');
            popoverThatIsCurrentlyShowing = null

  title = '<span class="text-info"><strong>Filter Settings</strong></span>' + '<button type="button" id="popovercloseid" class="close" onclick="return false;">&times;</button>'
  d = "
    <table border=0>
      <tr>
        <td>View &nbsp; &nbsp;</td>
        <td nowrap>
          <input type='radio' name='filterViewLevel' id='view-mgr'  value='mgr'><label for='view-mgr'>Manager &nbsp; &nbsp;</label>
          <input type='radio' name='filterViewLevel' id='view-oper' value='oper' checked><label for='view-oper'>Operator</label>
        </td>"
  d += "
    <tr>
      <td>Channels &nbsp; &nbsp;</td>
      <td nowrap>
      <select data-placeholder='Select channels'
          multiple
          style='width:300px;'
          name='channel-select'
          id='channel-select'>"
  <%
  s = ""
  Channel.all.each do |channel|
    s += "<option id='#{channel.id}' >#{channel.title}</option>"
  end
  %>
  d += "<%= s %>
    </select>
    </td>"

  d += "
    <tr>
      <td>Departments &nbsp; &nbsp;</td>
      <td nowrap>
      <select data-placeholder='Select departments'
          multiple
          style='width:300px;'
          id='department-select'>"
  <%
  s = ""
  Department.all.each do |department|
    s += "<option id='#{department.id}' selected>#{department.department_name}</option>"
  end
  %>
  d += "<%= s %>
    </select>
    </td>"

  d += "
      </tr>
    </table>
  "

  template = '
    <div class="popover popover-width-control"
      style="max-width: 1000px!important;
      xwidth:600px;
      xheight:350px;
      "><div class="popover-arrow"></div>
    <div class="popover-inner"><h3 class="popover-title"></h3>
    <div class="popover-content"><p></p></div></div></div>'

  popover = $('#calendar-menu-filter').popover {
			title: title
			html: true
			template: template
			content: d
			placement: 'bottom'
			container: '#calendar'
			trigger: 'manual'
		}

  popover.on 'hidden.bs.popover', (e) ->
    console.log 'hidden.bs.popover'
    e.preventDefault()

  popover.on 'show.bs.popover', (e) ->
    loadingPopover = true

  popover.on 'shown.bs.popover', (e) ->
    if filterViewLevel == 'exec'
      $("#view-exec").prop("checked", true)
    if filterViewLevel == 'mgr'
      $("#view-mgr").prop("checked", true)
    if filterViewLevel == 'oper'
      $("#view-oper").prop("checked", true)

    $('#channel-select > option').each (i, selected) ->
      optionIsSelected = true
      for hiddenChannel in filterHiddenChannels
        if hiddenChannel == parseInt(selected.id)
          optionIsSelected = false
          break
      $('#channel-select option:eq(' + i + ')').prop('selected', optionIsSelected)

    $('#channel-select').select2 {
      theme: "bootstrap"
    }

    $('#department-select > option').each (i, selected) ->
      optionIsSelected = true
      for hiddenDepartment in filterHiddenDepartments
        if hiddenDepartment == parseInt(selected.id)
          optionIsSelected = false
          break
      $('#department-select option:eq(' + i + ')').prop('selected', optionIsSelected)

    $('#department-select').select2 {
      theme: "bootstrap"
    }

    $('input[name=filterViewLevel]:radio').change ->
      filterViewLevelChanged this

    $('#channel-select').change ->
      filterChannelsChanged this

    $('#department-select').change ->
      filterDepartmentsChanged this

      # idx = $('#channel-select option[value=247]').index('option')
      # console.log 'index of 247 is ' + idx
      # opt = $('#channel-select option[value="247"]')

      # sel = '#channel-select option[value="' + selected.id + '"]'
      # console.log '   ' + sel + ', isSelected = ' + isSelected
      # el = $('#channel-select')
      # # if isSelected
      # # el.select2('val', '247')
      # x = $('#channel-select option:eq(247)')
      # x.prop('selected', true)
    loadingPopover = false


  if typeof $('#calendar').fullCalendar != 'undefined'
    console.log '  loading calendar'
    $('#calendar').fullCalendar {
      editable: true
      header: {
        left: 'prev,next,today'
        center: 'title'
        right: 'month,basicWeek,basicDay'
      }
      weekNumbers: true
      loading: (isLoading, view) ->
        if isLoading
          $('#loading').show()
        else
          $('#loading').hide()
      timeFormat: '  '
      dragOpacity: "0.5"
      eventSources: [
      	{
      		url: 'http://localhost:3000/calendar/events.json'
      		ignoreTimezone: true
      		crossDomain: true
      		jsonp: true
      		error: () ->
      			alert "there was an error while fetching events"
      	}
      ]

      eventRender: (event, element) ->
        # console.log "Checking '" + event.title + "', starts " + event.start if debugging
        # console.log "channels: " + filterHiddenChannels
        elementIsVisible = true

        alert 'Invalid argument to eventRender(). ' + filterViewLevel + ' is invalid.' if DBGacceptableValues.indexOf(filterViewLevel) < 0
        switch filterViewLevel
          when 'exec'
            if ['event'].indexOf(event.type) < 0
              elementIsVisible = false
          when 'mgr'
            if ['event', 'tactic'].indexOf(event.type) < 0
              elementIsVisible = false

        for hiddenChannel in filterHiddenChannels
          if hiddenChannel == event.channel
            elementIsVisible = false
            # console.log 'hide ' + event.title

        for hiddenDepartment in filterHiddenDepartments
          if hiddenDepartment == event.department
            elementIsVisible = false

        if elementIsVisible
          if event.cssRules != undefined
            # console.log 'Event type ' + event.type + ' Rules: ' + event.cssRules
            $('<style>.' + event.cssClass + ' {' + event.cssRules + '}</style>').appendTo('head');
          $(element).addClass event.cssClass

          if event.type == 'tactic'
            $(element).css "font-style", "italic"

          if event.type == 'event'
            $(element).css "font-weight", "bold"
            $(element).css "font-style", "italic"
          # $(element).show
        else
          $(element).hide()

        # if hidden_category_groups.indexOf(event.category_group_id) >= 0
        #   # console.log "  Event '" + event.title + "' category is hidden" if debugging
        #   $(element).hide();

      # eventOrder: (event1, event2) ->
      #   # More about controlling sort: https://github.com/fullcalendar/fullcalendar/issues/2907
      #   console.log 'Sort ' + event1.title + ' (' + event1.start + ') and ' + event2.title + ' (' + event1.start + ')'
      #   if event1.type == 'event' and event2.type in ['tactic', 'step']
      #     return 1
      #   if event1.type == 'tactic' and event2.type == 'step'
      #     return 1
      #   if event1.title > event2.title
      #     return 1
      #   else
      #     return -1

      eventAfterRender: (event, element, view) ->
        $(element).attr "id", "event-id-" + event.id

      eventClick: (event, jsEvent, view) ->
        console.log event.title + " was clicked" if debugging
    }

@filterViewLevelChanged = (radioButton) ->
  if debugging
    console.log 'filterViewLevelChanged changed: ' + radioButton.value
    DBGindexOfValue = DBGacceptableValues.indexOf radioButton.value
    alert 'Invalid argument to filterViewLevelChanged(). ' + radioButton.value + ' is invalid.' if DBGindexOfValue < 0

  filterViewLevel = radioButton.value
  events = $('#calendar').fullCalendar('clientEvents')
  for event in events
    if event.type == 'tactic'
      if filterViewLevel in ['exec', 'mgr']
        event.start = moment(event.alternateStart).startOf('day')
      else
        event.start = moment(event.realStart).startOf('day')

  $('#calendar').fullCalendar 'rerenderEvents'

@filterChannelsChanged = (channelsDropdown) ->
  console.log 'filterChannelsChanged changed ' + $('#channel-select').val() if debugging
  if loadingPopover
    console.log 'filterChannelsChanged returning because popover is loading' if debugging
    return

  filterHiddenChannels = []
  $('#channel-select option:not(:selected)').each (i, selected) ->
    filterHiddenChannels.push parseInt(selected.id)

  $('#calendar').fullCalendar 'rerenderEvents'


@filterDepartmentsChanged = (departmentsDropdown) ->
  console.log 'filterDepartmentsChanged changed ' + $('#department-select').val() if debugging
  if loadingPopover
    console.log 'filterDepartmentsChanged returning because popover is loading' if debugging
    return

  filterHiddenDepartments = []
  $('#department-select option:not(:selected)').each (i, selected) ->
    filterHiddenDepartments.push parseInt(selected.id)

  $('#calendar').fullCalendar 'rerenderEvents'

presentPopover = (url, sourceObject, event) ->
  thisObject = sourceObject
  console.log 'url = ' + url
  console.log 'sourceObject = ' + sourceObject
  console.log 'event = ' + event
  console.log "presentPopover starting" if debugging

  $.get url, (d) ->
    title = "Editing" #event.title
    console.log "presentPopover in get: " + sourceObject
    console.log "thisObject = " + thisObject
    # console.log "d = " + d
    popoverWidth = 750

    popover = $(thisObject).popover({
      title: '<span class="text-info"><strong>' + title + '</strong></span>' + '<button type="button" id="popovercloseid" class="close" onclick="return false;">&times;</button>'
      html: true
      template: '<div class="popover popover-width-control" style="max-width:' + popoverWidth + 'px!important; width:' + popoverWidth + 'px; height:350px;"><div class="arrow"></div><div class="popover-inner"><h3 class="popover-title"></h3><div class="popover-content"><p></p></div></div></div>',
      content: d
      placement: "bottom"
      container: '#calendar'
      trigger: 'manual'
    })
    popover.on "show.bs.popover", (e) ->
    	console.log "popover.on.show " if debugging
    $(thisObject).popover 'show'
    popoverThatIsCurrentlyShowing = popover


$(document).ready(ready);
$(document).on('page:load', ready);
