<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
    <a class="navbar-brand" href="#">Mktg Cal</a>
    <ul class="nav navbar-nav">
      <li class="nav-item active dropdown" id="calendar-menu-id">
        <a id="calendar-menu" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" href="#">Calendar</a>
				<div class="dropdown-menu">
					<%= link_to 'Add Tactic', '#', :id => 'add-calendar-tactic', :class => 'dropdown-item' %>
					<%= link_to 'Add Step', '#', :id => 'add-calendar-step', :class => 'dropdown-item' %>
				</div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Timeline</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" id="calendar-menu-filter" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          Filters
        </a>
      </li>
    </ul>

		<ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item active">
				<% if user_signed_in? %>
        	<%= link_to "Sign Out", destroy_user_session_path, { :method => :delete, :class => 'nav-link' } %>
				<% else %>
					<%= link_to "Sign In", new_user_session_path, { :class => 'nav-link' } %>
				<% end %>
      </li>
    </ul>

  </div>
</nav>
