<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="#">Mktg Cal</a>
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Calendar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Timeline</a>
    </li>
    <li class="nav-item dropdown">
      <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Filters <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li>Entries</li>
        <li>Channels</li>
        <li>Departments</li>
      </ul>
    </li>
  </ul>
  <form class="form-inline pull-xs-right">
    <input class="form-control" type="text" placeholder="Search">
    <button class="btn btn-success-outline" type="submit">Search</button>
  </form>
</nav>
